/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Ubuntu:300,700');



/****** //// START GENERAL STYLES //// ******/


body {
  background-color: lightgrey;
}

/* //// Typography //// */

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serrif;
 /* font-weight: 300;*/
}

p {
  font-family: Open Sans, sans-serrif;
  font-weight: 300;
  font-size: 1em;
}

.hb-padding-reset {
  padding: 0;
}

.hb-header-title-container {
  width:100%;
  top: 20%;
  left: 19%;
  position: absolute;
}

.hb-header-title {
  color: white;
  font-weight: 700;
}

/* //// Media Quiries //// */


/****** //// END GENERAL STYLES //// ******/
