/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Ubuntu:300,700');



/****** //// START GENERAL STYLES //// ******/


body {
  background-color: lightgrey;
}

/* //// Typography //// */

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serrif;
 /* font-weight: 300;*/
}

p {
  font-family: Open Sans, sans-serrif;
  font-weight: 300;
  font-size: 1em;
}

.hb-padding-reset {
  padding: 0;
}



/* //// Media Quiries //// */

    @media only screen and (min-width : 320px) {
       .hb-header-title-container {
        text-align: center;
        position: absolute;
        top: 20%;
      }

      .hb-header-title {
        color: white;
        font-weight: 700;
        font-size: 1.5em;
      } 
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
       .hb-header-title-container {
        top: 30%;
      }

      .hb-header-title {
        font-size: 2em;
      } 
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
       .hb-header-title-container {
        text-align: left;
        top: 30%;
        left: 10%;
      }

      .hb-header-title {
        font-size: 2.5em;
      } 
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
       .hb-header-title-container {
        text-align: left;
        top: 10%;
        left: 10%;
      }

      .hb-header-title {
        font-size: 2.5em;
      } 

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



/****** //// END GENERAL STYLES //// ******/
